{% extends "index.html" %}
{% block content %}
  <h3>Shopping cart</h3>
  {% if basket and basket|length > 0 %}
    <ul class="result_list">
      {% for film in basket %}
        <li class="result_item">
          <a href={{ url_for('detail', id=film['id']) }} class="list_a_item">
            <img class="result_item_img" src={{ url_for('data', filename='images/'+film['image']) }} alt="The image could not be shown.">
            <div>
              <div class="result_item_title">{{film['title'] + ' - ' + film['price']|string + '$'}}</div>
              <div class="result_item_text">
                {{ film['synopsis'] }}
              </div>
              <div class="quantityCont">
              	<input class="quantTextBox" type="text" value={{film['quantity']}}>
              	<form action={{ url_for('decCount', id=film['id']) }}>
              		<input type="image" src={{ url_for('static', filename='images/minus.png') }} id="search_button" alt="The icon could not be shown.">
              	</form>
              	<form action={{ url_for('incCount', id=film['id']) }}>
              		<input type="image" src={{ url_for('static', filename='images/plus.png') }} id="search_button" alt="The icon could not be shown.">
              	</form>
              </div>
              <form action={{ url_for('removeFromBasket', id=film['id']) }}>
                <input class="history_item_button" type="submit" value="Remove">
              </form>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="priceBox">
    	<div id='priceSpan'> Price: {{price}}$</div>

    {% if user is defined and user %}
      <form action={{ url_for('basket') }} method="post">
          <input class="addButton" type="submit" value="Finish Purchase">
      </form>
    {% else %}
      <span id='need_logged'> Need to be logged in to finish the purchase.</span>
    {% endif %}
	</div>
    <br> <p class="error">{{ '' or error }}</p>
  {% else %}
  <h2>No items available</h2>
  {% endif %}
{% endblock %}
