{% extends "index.html" %}
{% block content %}

  {% if user is defined and user %}
    <h3>History</h3>
    {% if history and history|length > 0 %}
      <ul class="history_list">
        {% for item in history %}
          <li class="history_item">
            <a href={{ url_for('detail', id=item['film']['id']) }} class="list_a_item">
              <img class="history_item_img" src={{ url_for('data', filename='images/'+item['film']['image']) }} alt="The image could not be shown.">
              <div class="history_item_info">
                <div class="history_item_title">{{item['film']['title'] + ' - ' + item['price']|string + '$'}}</div>
                <div class="history_item_text">
                  Quantity: {{ item['quantity'] }}
                </div>
                <div class="history_item_text">
                  Order date: {{ item['date'] }}
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h2>No items available</h2>
    {% endif %}

  {% else %}
    <h3>Ooops, this was never suppose to happen. <br>You need to be logged in order to see your history.</h3>
  {% endif %}
{% endblock %}
