<!DOCTYPE HTML>
<html lang="en">
    <head>
      <meta charset="utf-8"> <!-- Carácteres españoles -->
      <link rel=StyleSheet href={{ url_for('static', filename='css/styles.css') }}>
      <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <title>CDdede</title>
    </head>
    <body>
      <div id="search_div">
        <!-- TODO: Almacenar en servidor y en variable la categoria seleccionada para que se recuerde -->
        <form action="{{ url_for('search') }}" target="content_iframe" id="search_field">
          <input type="text" placeholder="Search" id="search_input" name="term" value={{term or ''}}>
          <input type="image" src={{ url_for('static', filename='images/search.png') }} id="search_button" alt="The icon could not be shown.">
          <!-- Input used to store the showed categoty-->
          <input type="hidden" name="prev_category" value={{'0' or category['id']}}>
        </form>
        <div class="dropdown" id="category_field">
          <button class="dropbtn">{{'Categories' or category['name']}}</button>
          <div class="dropdown-content">
            {% for category in categories_data %}
              <a href={{ url_for('search', category=category['id']) }}>
                {{category['name']}}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <h3>Recommended</h3>
      <ul class="film_list">
        {% for film in recommended_films %}
          <li class="film_item">
            <a href="./detail.html" target="content_iframe">
              <img class="film_item_img" src={{ url_for('data', filename='images/'+film['image']) }} alt="The image could not be shown.">
              <div class="film_item_text">{{film['title']}}<br>{{film['price']}}$</div>
            </a>
          </li>
        {% endfor %}
      </ul>

      <h3>Best sellers</h3>
      <ul class="film_list">
        {% for film in best_seller_films %}
          <li class="film_item">
            <a href="./detail.html" target="content_iframe">
              <img class="film_item_img" src={{ url_for('data', filename='images/'+film['image']) }} alt="The image could not be shown.">
              <div class="film_item_text">{{film['title']}}<br>{{film['price']}}$</div>
            </a>
          </li>
        {% endfor %}
      </ul>

    </body>
</html>
