{% extends "index.html" %}
{% block content %}
  <div id="register">

    <h2>Register</h2>

    <form name="register" action={{ url_for('register') }} target="body" method="post">
      <div class="mainContainer">
        <div class="verContainer">

          <div class="TextTextbox">
            <h4>User Name:</h4>
            <input class="regTextbox" type="text" name="name" value={{ name or '' }}>
          </div>

          <div class="TextTextbox">
            <h4>E-mail:</h4>
            <input class="regTextbox" type="text" name="mail" value={{ mail or '' }}>
          </div>

          <div class="TextTextbox">
            <h4>Password:</h4>
            <input class="regTextbox" type="password" name="password" id="password" onkeyup='checkPassword();'>
          </div>

          <div class="TextTextbox">
            <h4>Repeat Password:</h4>
            <input class="regTextbox" type="password" id="password2" onkeyup='checkPassword();'>
            <span id='message'></span>
          </div>

          <div class="TextTextbox">
            <h4>Credit card:</h4>
            <input class="regTextbox" type="text" name="creditCard" value={{ '' or creditCard }}>
          </div>

          {% if error is defined and error %}
            <br> <p class="error">{{ error }}</p>
          {% endif %}
        </div>

        <div class="verContainer">
          <div class="verExpandableContainer"></div>
          <div class="verButtonContainer">
            <input class="regButton" type="submit" value="Confirm" id="submit">
          </div>
        </div>

      </div>
    </form>
  </div>

  <script>
    var checkPassword = function(){
      if(document.getElementById('password').value != document.getElementById('password2').value) {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Not matching';
        return false;
      } else {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'Matching';
        return true;
      }
    }

    var formComplete = function(){
        var form = document.forms["register"].elements;
        var available = true;

        for (var i = 0; i < form.length; i++) {
            if (form[i].value.length == 0) available = false;
        }
        document.getElementById('submit').disabled = !available;
    }
  </script>
{% endblock %}
