<!DOCTYPE HTML>
<html lang ="en">
    <head>
      <meta charset="utf-8"> <!-- Carácteres españoles -->
      <link rel=StyleSheet href={{ url_for('static', filename='css/styles.css') }} >
      <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <title>CDdede</title>
    </head>
    <body>

      <!-- TODO: Almacenar en servidor y en variable la categoria seleccionada para que se recuerde -->
      <form action="{{ url_for('search') }}" target="content_iframe" id="search_div">
        <div id="search_field">
          <input type="text" placeholder="Search" id="search_input" name="term" value={{term or ''}}>
          <input type="image" src={{ url_for('static', filename='images/search.png') }} id="search_button" alt="The icon could not be shown.">
          <!-- Input used to store the showed categoty-->
          <input type="hidden" name="prev_category" value={{'0' or category['id']}}>
        </div>
        
        <div class="dropdown" id="category_field">
          <button class="dropbtn">{{category['name'] or 'Categories'}}</button>
          <div class="dropdown-content">
            {% for category in categories_data %}
              <a href={{ url_for('search', category=category['id']) }} >
                {{category['name']}}
              </a>
            {% endfor %}
          </div>
        </div>
      </form>


      <h3>Results</h3>
      {% if results and results|length > 0 %}
        <ul class="result_list">
          {% for film in results %}
            <li class="result_item">
              <a href={{ url_for('detail', id=film['id']) }} target="content_iframe" class="list_a_item">
                <img class="result_item_img" src={{ url_for('data', filename='images/'+film['image']) }} alt="The image could not be shown.">
                <div>
                  <div class="result_item_title">{{film['title'] + ' - ' + film['price']|string + '$'}}</div>
                  <div class="result_item_text">
                    {{ film['synopsis'] }}
                  </div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
      <h2>No results available</h2>
      {% endif %}
      
    </body>
</html>
