<!DOCTYPE HTML>
<html lang="en">
    <head>
      <meta charset="utf-8"> <!-- Carácteres españoles -->
      <link rel=StyleSheet href={{ url_for('static', filename='css/styles.css') }} >
      <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <title>CDdede</title>
    </head>
    <body>

      <header class="header fixed">
        <a href={{ url_for('index') }} class="title_div">
          <h1 class="title">CDdede</h1>
          <p id="numLoggedUsers"></p>
        </a>

        {% if user is defined and user %}
          <div class="user_div">
            <div class="header_user_info">
              <div class="header_user_name">Welcome {{user['name']}}</div>
              <img class="header_user_icon" src={{ url_for('static', filename='images/user.png') }} alt="The image could not be shown.">
            </div>

            <div>
              <!-- Basquet -->
              <a href={{ url_for('basket') }}>
                <div class="header_button">
                  {% if basket|length > 0 %}
                    ({{ basket|length }})
                    <img class="header_cart_icon" src={{ url_for('static', filename='images/cart.png') }}>
                  {% else %}
                    <img class="header_cart_icon" src={{ url_for('static', filename='images/cart-off.png') }}>
                  {% endif %}
                </div>
              </a>


              <!-- Logout -->
              <a href={{ url_for('logout') }}>
                <div class="header_button">Logout</div>
              </a>
              <!-- History -->
              <a href={{ url_for('history') }}>
                <div class="header_button">History</div>
              </a>
            </div>

          </div>
        {% else %}
          <div>
            <!-- Basquet -->
            <a href={{ url_for('basket') }}>
              <div class="header_button">
                {% if basket|length > 0 %}
                  ({{ basket|length }})
                  <img class="header_cart_icon" src={{ url_for('static', filename='images/cart.png') }}>
                {% else %}
                  <img class="header_cart_icon" src={{ url_for('static', filename='images/cart-off.png') }}>
                {% endif %}
              </div>
            </a>

            <!-- Login -->
            <a href={{ url_for('login') }}>
              <div class="header_button">Login</div>
            </a>

            <!-- Register -->
            <a href={{ url_for('register') }}>
              <div class="header_button">Register</div>
            </a>
          </div>
        {% endif %}
      </header>

      <header class="header filler">
        <a href="/">
          <h1 class="title">CDdede</h1>
        </a>

        {% if user is defined and user %}
          <div class="user_div">
            <div class="header_user_info">
              <div class="header_user_name">Welcome {{user['name']}}</div>
              <img class="header_user_icon" src={{ url_for('static', filename='images/user.png') }} alt="The image could not be shown.">
            </div>

            <div>
              <!-- Basquet -->
              <a href={{ url_for('basket') }}>
                <div class="header_button">
                  {% if basket|length > 0 %}
                    ({{ basket|length }})
                    <img class="header_cart_icon" src={{ url_for('static', filename='images/cart.png') }}>
                  {% else %}
                    <img class="header_cart_icon" src={{ url_for('static', filename='images/cart-off.png') }}>
                  {% endif %}
                </div>
              </a>

              <!-- Logout -->
              <a href={{ url_for('logout') }}>
                <div class="header_button">Logout</div>
              </a>
              <!-- History -->
              <a href={{ url_for('history') }} target="content_iframe">
                <div class="header_button">History</div>
              </a>
            </div>

          </div>
        {% else %}
          <div>
            <!-- Basquet -->
            <a href={{ url_for('basket') }}>
              <div class="header_button">
                {% if basket|length > 0 %}
                  ({{ basket|length }})
                  <img class="header_cart_icon" src={{ url_for('static', filename='images/cart.png') }}>
                {% else %}
                  <img class="header_cart_icon" src={{ url_for('static', filename='images/cart-off.png') }}>
                {% endif %}
              </div>
            </a>

            <!-- Login -->
            <a href={{ url_for('login') }}>
              <div class="header_button">Login</div>
            </a>

            <!-- Register -->
            <a href={{ url_for('register') }} target="content_iframe">
              <div class="header_button">Register</div>
            </a>
          </div>
        {% endif %}
      </header>

      <div class="body">
        <div class="sidebar fixed">
          <ul>
            <li><img src={{ url_for('static', filename='images/tag.png') }} alt="The image could not be shown.">Special offers</li>
            <li><img src={{ url_for('static', filename='images/contact-mail.png') }} alt="The image could not be shown.">Contact</li>
            <li><img src={{ url_for('static', filename='images/information.png') }} alt="The image could not be shown.">About us</li>
          </ul>
        </div>

        <div class="sidebar filler">
          <ul>
            <li><img src={{ url_for('static', filename='images/tag.png') }} alt="The image could not be shown.">Special offers</li>
            <li><img src={{ url_for('static', filename='images/contact-mail.png') }} alt="The image could not be shown.">Contact</li>
            <li><img src={{ url_for('static', filename='images/information.png') }} alt="The image could not be shown.">About us</li>
          </ul>
        </div>


        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>

    <footer>
      <ul>
        <li><img class="social_icon" src={{ url_for('static', filename='images/facebook.png') }} alt="The image could not be shown."></li>
        <li><img class="social_icon" src={{ url_for('static', filename='images/instagram.png') }} alt="The image could not be shown."></li>
        <li><img class="social_icon" src={{ url_for('static', filename='images/twitter.png') }} alt="The image could not be shown."></li>
        <li><img class="social_icon" src={{ url_for('static', filename='images/youtube.png') }} alt="The image could not be shown."></li>
      </ul>

      <p id='footer_text'>© 2019. CDdede. All rights reserved</p>
    </footer>

    </body>
    <!-- Posibilitamos el mostrar un mensaje usando un alert de Javascript -->

      <script>
        const delay = ms => new Promise(res => setTimeout(res, ms));

        /* Show an alert if there's a message to show */
        {% if message is defined and message %}
          $(window).on('load', async function () {
            /* Wait some time to make sure animations are finished */
            await delay(400);
            window.alert('{{ message }}');
          });
        {% endif %}

        /* Load the number of connected users every 3 seconds */
        (function worker() {
          $.ajax({
            url: "{{ url_for('numUsers') }}",
            success: function(data) {
              $("#numLoggedUsers").text("Logged users: "+data);
            },
            complete: function() {
              // Schedule the next request when the current one's complete
              setTimeout(worker, 3000);
            }
          });
        })();

      </script>


</html>
