*{
	font-family: 'Roboto', serif;
	margin: 0px;
	padding: 0px;
}

/* Header */
#header {
	background: rgb(64, 89, 173);
	display: flex;
	justify-content: space-between; /* Horizontal alingment */
	align-items: flex-end; /* Vertical aligment */
}

	/* CDdede */
	#title {
		font-family: 'Crete Round', serif;
		font-size: 96px;
		font-weight: 400;
		color: rgb(244, 185, 66);
		padding: 20px;
	}

	/* Login and register button */
	.header_button{
		font-size: 24px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(151, 216, 196);
		padding: 20px;
		float: right;
	}

/* Body */
.body {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

	/* Sidebar */
	.sidebar{
		width: 15%;
		min-height: 100%;
	}

	.sidebar ul{
		list-style-type: none;
	}

	.sidebar li {
		padding: 8px;
		color: rgb(64, 89, 173);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #F2F2F2;
		cursor: pointer;
	}

	/* Content itself */
	.content{
		width: 85%;
		min-height: 100%;
		padding: 12px;
	}

/* Footer */
footer{
	background-color: #212121;
	padding: 10px;
	overflow: auto;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

	#footer_text{
		font-family: "Crete Round";
		font-size: 16px;
		font-weight: 400;
		color: rgb(182, 182, 182);
		position: absolute;
		bottom: 12px;
		right: 24px;
	}

	footer ul{
		float: left;
		list-style-type: none;
	 	overflow: hidden;
	}

	footer li{
	  float: left;
	}

	.social_icon{
		max-width: 48px;
		max-height: 48px;
		padding-left: 8px;
		float: left;
	}


/* General style */
h2{
	font-family: Roboto;
	font-size: 64px;
	font-weight: 400;
	color: rgb(64, 89, 173);
	padding: 30px;
}

h3{
	color: rgb(64, 89, 173);
	font-size: 28px;
	font-weight: 400;
	padding-bottom: 12px;
}

/* Main Screen */
#search_div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

	#search_input, .dropbtn{
		height: 32px;
		font-size: 16px;
		border: none;
		border-radius: 6px;
		background-color: #C4C4C4;
		padding: 2px;
		color: white;
	}

	/* Search text box */
	#search_field{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

		#search_input{
			padding-left: 10px;
			margin-right: 4px;
		}

		#search_input::placeholder {
			color: white;
			opacity: 1; /* Firefox */
		}

		#search_button{
			height: 32px;
			width: auto;
		}

	/* Categories dropdown menu */
	.dropbtn {
		cursor: pointer;
		padding-right: 12px;
		padding-left: 12px;
	}

	.dropdown {
		position: relative;
		display: inline-block;
		float: right;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		right: 0;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {background-color: #F1F1F1;}
	.dropdown:hover .dropdown-content {display: block;}
	.dropdown:hover .dropbtn {background-color: #ABABAB;}

.film_list{
	float: left;
	list-style-type: none;
 	overflow: auto;
 	height: 180px;
 	width: 100%
}

	.film_item{
		float: left;
		margin-right: 20px;
		position: relative;
		overflow: auto;
	}

		.film_item_img{
			width: 160px;
			height: 160px;
			object-fit: cover;
			cursor: pointer;
	 		transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
		}

		.film_item_img:hover{
			width: 165px;
			height: 165px;
			opacity: 1;
		}

		.film_item_text{
			width: 90%;
			position: absolute;
			right: 50%;
			bottom: 10px;
			transform: translateX(50%);
			text-align: center;
			color: white;
		}


/*Register Screen*/
#register{
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	align-self: stretch;
	flex-direction: column;
	background: rgb(242, 242, 242);
}

	.mainContainer, .verContainer, .horContainer, .TextTextbox{
		display: flex;
		justify-content: space-around;
		background: rgb(239, 242, 241);
	}
	
		.mainContainer{
			border-radius: 10px;
			box-shadow: rgb(64, 89, 173) 0px 0px 0px 3px inset;
			margin: 30px;
			margin-top: 0;
			padding: 30px;
			height: 72%;
		}

		.verContainer{
			flex-direction: column;
		}

		.horContainer{
			justify-content: space-between;
		}

		.TextTextbox{
			justify-content: center;
		}

			.regText{
				font-family: Roboto;
				font-size: 24px;
				font-weight: 500;
				color: rgb(64, 89, 173);
			}

			input{
				background: rgb(107, 154, 196);
				border-radius: 10px;
				box-shadow: rgb(64, 89, 173) 0px 0px 0px 3px inset;
				height: 30px;
				width: 450px;
				padding-left: 10px;
				font-family: Roboto;
				font-size: 18px;
				font-weight: 500;
				color: rgb(255, 255, 255);
			}

			input[name="Name"], input[name="Surname"]{
				width: 200px;
			}

			input[type="submit"]{
				background: rgb(244, 185, 66);
				height: 100px;
				width: 180px;
				padding-left: 0;
				font-size: 36px;
				color: rgb(64, 89, 173);
				text-align: center;
				align-self: center;
			}







